* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  height: 75px;
  border-bottom: 1px solid #d3d3d3;
}

#logo {
  margin-top: 30px;
}

#logo a {
  color: red;
  text-decoration: none;
}

#options {
  position: absolute;
  top: 30px;
  right: 10%;
}

#options li {
  display: inline-block;
  margin-left: 20px;
}

.icon {
  width: 24px;
  height: 24px;
}

#toggle-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-sizing: border-box;
}

#toggle-menu:hover,
#toggle-search:hover {
  cursor: pointer;
}

.search {
  width: 80%;
  margin: -15px 0;
  display: none;
  position: absolute;
  top: 140px;
}

.search form input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.search form input:focus {
  outline: none;
  border: 1px solid red;
}

.menu {
  position: absolute;
  top: 105px;
  right: 10%;
  border: 1px solid #d3d3d3;
  border-top: none;
  border-radius: 5px;
  background-color: white;
  display: none;
}

.menu ul {
  list-style-type: none;
}

.menu ul a:hover {
  text-decoration: none;
}

.menu ul li {
  padding: 20px;
}

.menu ul li:hover {
  background-color: #fafafa;
}

.content {
  margin: 25px 0;
}

.form {
  width: 40%;
  margin: 25px auto;
}

.form h3 {
  font-weight: 100;
  padding: 25px 0;
}

.form .form-group {
  margin: 10px 0;
}

.form .form-group input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.form .form-group input:focus,
.form .form-group textarea:focus {
  outline: none;
  border: 1px solid red;
}

.form .form-group input[type="submit"] {
  background-color: red;
  color: white;
  border: 1px solid red;
}

.form .form-group input[type="submit"]:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}

.form .form-group textarea {
  width: 100%;
  height: 350px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  resize: none;
}

.form .form-group img {
  width: 100%;
}

.error {
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  display: block;
  padding: 10px;
  height: 40px;
  margin-bottom: 25px;
}

#title {
  text-align: center;
  font-weight: 100;
}

.sidebar {
  width: 25%;
  margin: 25px 0;
  float: left;
}

.info {
  width: 100%;
  margin: 0 auto 25px auto;
  padding: 25px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.info img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.info h2,
.info h3,
.info h5,
.info h6 {
  padding-bottom: 10px;
  font-weight: 100;
}

.info a:hover {
  text-decoration: none;
}

.info p {
  margin-top: 25px;
  font-size: 14px;
}

.friend-img {
  margin: 10px 10px 10px 0;
}

#friend {
  display: inline-block;
  height: 40px;
  padding: 10px;
  margin: 25px 0 10px 0;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: red;
  color: white;
  border: 1px solid red;
}

#friend:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}

.posts {
  width: 65%;
  margin: 25px 0;
  float: right;
}

.post {
  margin: 0 0 25px 0;
  padding: 25px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.post:hover {
  background-color: #fbfbfb;
  cursor: pointer;
}

.post h5,
.post h6 {
  margin-bottom: 10px;
}

.post h6 {
  color: #818181;
  font-weight: 100;
}

.post img {
  max-width: 100%;
  margin: 25px auto;
  display: block;
}

.options {
  display: block;
  margin-top: 10px;
}

.options a {
  margin-right: 5px;
}

.options img {
  margin: 5px 5px 5px 0;
  display: inline-block !important;
}

.pagination {
  text-align: center;
}

.pagination a {
  padding: 5px 10px;
  border-radius: 5px;
}

.pagination a:hover {
  background-color: red;
  color: #ffffff;
  text-decoration: none;
}

.pagination .selected {
  background-color: red;
  color: #ffffff;
}

.submit {
  border: none;
}

.submit .form {
  width: 100%;
  margin: 0;
}

.submit .form-group {
  margin: 0;
}

.submit .form-group textarea {
  height: 150px;
}

.submit .form-group input {
  margin-top: 25px;
}

.form-group input[type="file"] {
  display: none;
}

#upload-image {
  width: 24px;
}

#upload-image:hover {
  cursor: pointer;
}

#counter-text {
  padding: 10px 0;
}

.message {
  font-weight: 100;
  text-align: center;
  padding: 25px;
}

.single-post {
  width: 60%;
  margin: 50px auto;
}

.single-post h6 {
  color: #818181;
  font-weight: 300;
  font-size: 12px;
  padding-top: 10px;
}

.single-post p {
  padding: 25px 0;
  line-height: 1.5;
}

.single-post img {
  max-width: 100%;
  margin: 25px auto;
  display: block;
}

#like-count {
  padding: 0;
}

.comments {
  border-top: 1px solid #d3d3d3;
  padding-top: 10px;
  margin: 50px 0;
}

.comment {
  margin: 25px 0;
  border-bottom: 1px solid #d3d3d3;
}

.comment p {
  padding: 10px 0;
  border-bottom: 0;
}

.comment .options {
  margin-bottom: 10px;
}

.page {
  float: none;
  margin: 0 auto;
}

.page .form {
  width: 60%;
}

.heading {
  margin-bottom: 25px;
  padding: 10px;
  border-bottom: 1px solid #d3d3d3;
}

.heading h2 {
  font-weight: lighter;
}

.result-info {
  width: 100%;
  margin: 25px 0;
  padding: 25px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.result-info img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-bottom: 10px;
  float: left;
}

.result-info h2,
.result-info h5,
.result-info h6 {
  padding-bottom: 10px;
  font-weight: 100;
  margin-left: 100px;
}

.result-info a:hover {
  text-decoration: none;
}

.footer {
  clear: both;
  border-top: 1px solid #d3d3d3;
}

.footer p {
  font-size: 12px;
  padding: 25px;
  color: #818181;
  text-align: center;
}

.error-page h1 {
  text-align: center;
  font-size: 72px;
  padding: 50px;
}

.error-page p {
  text-align: center;
  font-size: 30px;
  padding: 50px;
}

@media(max-width: 1200px) {
  .container {
    width: 90%;
  }
}

@media(max-width: 900px) {
  .form,
  .search,
  .single-post,
  .page .form {
    width: 90%;
  }

  .header {
    height: 75px;
    border-bottom: 1px solid #d3d3d3;
  }

  #options,
  .menu {
    right: 5%;
  }

  .sidebar,
  .posts {
    width: 100%;
    float: none;
  }
}