* {
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background-color: #fafafa;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#logo {
  margin: 75px;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

#logo a:hover {
  text-decoration: none;
}

.form {
  width: 50%;
  margin: 25px auto;
  background-color: white;
  padding: 25px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.form h2 {
  margin: 25px 0;
  padding: 10px 0;
  text-align: center;
  font-size: 28px;
}

.form p {
  margin: 25px 0;
  text-align: center;
}

.form input {
  height: 50px;
  border: 1px solid #d3d3d3;
}

.form button {
  height: 50px;
  background-color: red;
  color: white;
  border: 1px solid red;
}

.form button:hover {
  background-color: red;
  color: white;
  border: 1px solid red;
  cursor: pointer;
  opacity: 75%;
}

.form input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.form textarea {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  resize: none;
}

.form img {
  width: 100%;
}

.form-control:focus,
.form button:active {
    border-color: red;
    box-shadow: 0 0 0 0.25rem rgba(167, 40, 40, 0.25);
    outline: 0;
}

.error {
  background-color: red;
  color: white;
  border-radius: 5px;
  display: block;
  padding: 12.5px;
  height: 50px;
}

.navbar {
  background-color: red;
  padding: 0 5%;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  text-decoration: none;
  color: white;
}

.responsive-menu {
  background-color: red;
}

.icon {
  width: 24px;
  height: 24px;
}

.navbar form input {
  border: 0;
}

.page-title {
  text-align: center;
}

.sidebar {
  margin: 25px 0;
}

.info {
  width: 100%;
  margin: 0 auto 25px auto;
  padding: 25px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: white;
}

.info img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.info h2,
.info h3,
.info h5,
.info h6 {
  padding-bottom: 10px;
}

.info a:hover {
  text-decoration: none;
}

.info p {
  margin-top: 25px;
  font-size: 14px;
}

.info button {
  padding: -10px;
}

.friend-img {
  margin: 10px 10px 10px 0;
}

#friend {
  background-color: red;
  color: white;
  border: 0;
}

#friend:hover {
  cursor: pointer;
  opacity: 75%;
}

.posts {
  margin: 25px 0;
}

.post {
  margin: 0 0 25px 0;
  padding: 25px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: white;
}

.post:hover {
  background-color: #fcfcfc;
  cursor: pointer;
}

.post-user-picture {
  float: left;
}

.post-user-picture img {
  text-align: left;
  height: 35px;
  width: 35px;
  display: inline-block;
}

.single-post {
  margin-top: 25px;
}

.single-post:hover,
.comment:hover {
  cursor: default;
  background-color: white;
}

.single-post .post-user-picture img {
  height: 75px;
  width: 75px;
  margin-top: 0;
}

.post-user-info {
  margin-left: 50px;
}

.single-post .post-user-info {
  margin-left: 100px;
}

.post-content {
  margin: 25px 0 0 50px;
}

.single-post .post-content {
  margin: 25px 0 0 100px;
}

.post h4 {
  font-size: 20px;
}

.post h5 a {
  font-size: 14px;
  color: black;
}

.post-user-info .date {
  display: block;
  color: #818181;
  font-size: 12px;
}

.post-content img {
  max-width: 100%;
  margin: 25px auto;
  display: block;
}

.options {
  display: block;
  margin-top: 10px;
}

.options a {
  margin-right: 5px;
}

.options img {
  margin: 5px 5px 5px 0;
  display: inline-block !important;
}

.pagination {
  text-align: center;
}

.pagination a {
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.pagination a:hover {
  background-color: red;
  color: #ffffff;
  text-decoration: none;
}

.pagination .selected {
  background-color: red;
  color: #ffffff;
}

.submit {
  border-radius: 5px;
}

.submit .form {
  width: 100%;
  margin: 0;
}

#post_content,
#comment_text {
  height: 150px;
  resize: vertical;
}

#upload-image {
  width: 24px;
  float: left;
}

#upload-image:hover {
  cursor: pointer;
}

#counter-text {
  padding: 10px 0;
  float: right;
}

.single-post {
  margin: 25px 0 25px 0;
  padding: 25px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: white;
}

.single-post img {
  display: block;
  margin: 25px 0;
}

.message {
  text-align: center;
  padding: 25px;
}

.like,
.like-count {
  vertical-align: middle;
  display: inline-block;
}

.comments {
  margin: 25px 0;
}

.comments .form {
  width: 100%;
}

.comment {
  width: 100%;
  margin: 25px 0;
}

.comment .options {
  position: absolute;
  top: 0;
  right: 20px;
}

.heading {
  margin: 50px 0;
  padding: 10px 0;
  text-align: center;
}

.footer p {
  font-size: 12px;
  padding: 25px;
  color: #818181;
  text-align: center;
}

.error-page h1 {
  text-align: center;
  font-size: 72px;
  padding: 50px;
}

.error-page p {
  text-align: center;
  font-size: 30px;
  padding: 50px;
}

@media(max-width: 1000px) {
  .form,
  .search {
    width: 90%;
  }

  .comments,
  .comments .form {
    width: 100%;
  }
}

/* Make collapsed navbar content go full viewport width on mobile */
@media (max-width: 991.98px) {
  .navbar-collapse {
    position: relative;
    width: 100vw !important;
    margin-right: calc(-50vw + 50%) !important;
    margin-left:  calc(-50vw + 50%) !important;
    padding: 1rem 1.5rem;
  }

  .navbar-collapse.show {
    z-index: 1055;
  }
}

@media (min-width: 992px) {
  .navbar-collapse {
    display: none !important;
  }
  
  .navbar-collapse.show {
    display: flex !important;
  }
}